/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4532731 */
  src: url('https://at.alicdn.com/t/c/font_4532731_n25o1b2g9ng.woff2?t=1714971391099') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4532731_n25o1b2g9ng.woff?t=1714971391099') format('woff'),
       url('https://at.alicdn.com/t/c/font_4532731_n25o1b2g9ng.ttf?t=1714971391099') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\f116";
}

.icon-erji1:before {
  content: "\e824";
}

.icon-a-erji2:before {
  content: "\ec0e";
}

.icon-yinyuexianxing:before {
  content: "\e643";
}

.icon-wangyiyunyinle:before {
  content: "\e60f";
}

.icon-zanting:before {
  content: "\e628";
}

.icon-shangyiqu:before {
  content: "\e60a";
}

.icon-xiayiqu:before {
  content: "\e60b";
}

.icon-shezhi:before {
  content: "\e658";
}

.icon-xiazai:before {
  content: "\e65a";
}

.icon-bofangliebiao:before {
  content: "\e663";
}

.icon-danquxunhuan:before {
  content: "\e667";
}

.icon-xihuan:before {
  content: "\e609";
}

.icon-xihuan-kong:before {
  content: "\e615";
}

.icon-MV:before {
  content: "\e674";
}

.icon-xunhuanbofang:before {
  content: "\e607";
}

.icon-meum:before {
  content: "\e60c";
}

.icon-suiji:before {
  content: "\e602";
}

.icon-bofang:before {
  content: "\e60d";
}

